.container {
  min-height: 420px;
  padding: 30px 5px;
}

.button {
  padding: 5px;
  width: 155px;
  height: 38px;

  font-size: 24px;
  cursor: pointer;
}

.yellow {
  background-color: #dab55d;

  &:hover {
    background-color: #daa423;
  }

  &:active {
    background-color: #9a6e00;
  }
}

.blue {
  background-color: #5db4da;

  &:hover {
    background-color: #5795dc;
  }

  &:active {
    background-color: #5d72da;
  }
}

h2 {
  margin: 0;
  padding: 20px;
}
