<app-global-error></app-global-error>

<div class="wrapper">

  <div  class="container">

    <h1 class="title">Hello {{ title | titlecase }}</h1>

    <input type="text"
           class="search-field"
           placeholder="Filter products..." [(ngModel)]="text">

    <p>{{ text }}</p>

    <p *ngIf="loading" style="font-size: 36px; color: aliceblue">Loading products...</p>

    <div *ngIf="productsService.products">
      <app-product *ngFor="let product of productsService.products | filterProducts: text" [product]="product"></app-product>
    </div>

    <app-modal *ngIf="modalService.isVisible$ | async" title="Create new product">
      <app-create-product></app-create-product>
    </app-modal>

    <button (click)="modalService.openModal()">
      Open modal
    </button>

    <router-outlet></router-outlet>

  </div>

</div>
