.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #797171;
}

.title  {
  margin: 0;
  padding: 20px 0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.search-field {
  min-width: 300px;
  margin: 20px 0;
  padding: 5px 0;
  font-size: 24px;
}
